<ion-view view-title="Admin">
    <ion-content ng-class="{expanded:isExpanded}" overflow-scroll="true">
        <div class="content has-header">
            <div class="list xanimate-fade-slide-in-right">
                <div ng-repeat="(key,user) in allUsers" class="item item-avatar item-icon-right">
                    <img src="{{user.profile_picture.toString()}}">
                    <h2 href="#/app/profile">{{user.full_name}}</h2>
                    <p>{{user.mobile}}</p>
                    <p ng-hide="user.mobile">Not filled Form</p>

                    <button class="button button-positive button-small" ng-show="!user.playStatus">NA</button>
                    <button class="button button-positive button-small" ng-click="playChange(user, key, 2)" ng-show="user.playStatus == 1">Allow</button>
                     <button class="button button-positive button-small" ng-click="playChange(user, key, 1)" ng-show="user.playStatus == 2">Disallow</button>

                     <button class="button button-positive button-small" ng-show="!user.paymentStatus">not paid</button>
                     <button class="button button-positive button-small" ng-click="paidChange(user, key, 2)" ng-show="user.paymentStatus == 1">paid</button>
                     <button class="button button-positive button-small" ng-click="paidChange(user, key, 1)" ng-show="user.paymentStatus == 2">unpaid</button>
                     
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
