<ion-view view-title="About You">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="true">
        <div id="container" class="container">
            <!-- https://codepen.io/andytran/pen/RPBdgM 
            https://codepen.io/adam2326/pen/VYMOdx

            https://codepen.io/Iulius90/pen/QwaOwL
            -->
            <script id="error-list.html" type="text/ng-template">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> This field is required!
                </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i> Minimum length of this field is 5 characters!
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i> Maximum length of this field is 20 characters!
                </div>
            </script>
            <div class="card ">
                <!-- <h1 class="title">Register</h1> -->
                <form name="myForm" ng-submit="saveForm(myForm)" novalidate>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600" id="messagesDiv">
                        <input type="file" id="file" name="file" />
                        <div class="input-container">
                            <img style="max-height: 100px;" id="smartCardImg" src="{{formData.smartcard}}">
                            <div ng-class="{ 'has-errors' : myForm.smartcard.$invalid, 'no-errors' : myForm.smartcard.$valid}">
                                <input disabled="true" type="text" name="smartcard" ng-model="formData.smartcard" ng-minlength="50" required>
                                <label ng-hide="myForm.smartcard.$valid" for="smartcard">Upload smart card</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.fullname.$invalid, 'no-errors' : myForm.fullname.$valid}">
                            <input type="text" name="fullname" ng-model="formData.fullname" ng-minlength="5" ng-maxlength="20" required>
                            <label for="fullname">Name</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.email.$invalid, 'no-errors' : myForm.email.$valid}">
                            <input type="email" name="email" ng-model="formData.email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.mobile.$invalid, 'no-errors' : myForm.mobile.$valid}">
                            <input type="number" name="mobile" ng-model="formData.mobile" ng-minlength="10" ng-maxlength="10" required>
                            <label for="mobile">Mobile</label>
                        </div>
                    </div>
                    <div class="button-bar">
                        <a class="button" ng-class="{'button-positive': isOwnership('Owner')}" ng-click="setOwnership('Owner','')">Owner</a>
                        <input type="hidden" name="ownership" ng-model="formData.ownership" required>
                        <a class="button" ng-class="{'button-positive': isOwnership('Tenant')}" ng-click="setOwnership('Tenant','')">Tenant</a>
                    </div>
                    <ion-list>
                        <ion-checkbox ng-model="formData.tppl2016">PPL 2016</ion-checkbox>
                        <ion-checkbox ng-model="formData.tcrpl2016">CRPL 2016</ion-checkbox>
                        <ion-checkbox ng-model="formData.tccl2016">CCL 2016</ion-checkbox>
                        <ion-checkbox ng-model="formData.tppl2017">PPL 2017</ion-checkbox>
                    </ion-list>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.batting.$invalid, 'no-errors' : myForm.batting.$valid}">
                            <input type="number" name="batting" ng-model="formData.batting" ng-min="1" ng-max="10" required>
                            <label for="batting">Batting rating 10-1(higher better)</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.bowling.$invalid, 'no-errors' : myForm.bowling.$valid}">
                            <input type="number" name="bowling" ng-model="formData.bowling" ng-min="1" ng-max="10" required>
                            <label for="bowling">Bowling rating 10-1(higher better)</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.keeping.$invalid, 'no-errors' : myForm.keeping.$valid}">
                            <input type="number" name="keeping" ng-model="formData.keeping" ng-min="1" ng-max="10" required>
                            <label for="keeping">Keeping rating 10-1(higher better)</label>
                        </div>
                    </div>
                    <div class="input-container tshirt">
                        <!-- {{formData.tshirtSize}} -->
                        <div ng-class="{ 'has-errors' : myForm.tshirtSize.$invalid, 'no-errors' : myForm.tshirtSize.$valid}">
                            <label for="tshirtSize">T-Shirt Size</label>
                            <select ng-model="formData.tshirtSize" ng-options="someObject for someObject in sizes ">
                            </select>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.cluster.$invalid, 'no-errors' : myForm.cluster.$valid}">
                            <input type="text" name="cluster" ng-model="formData.cluster" ng-minlength="4" ng-maxlength="20" required>
                            <label for="cluster">Cluster</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.wing.$invalid, 'no-errors' : myForm.wing.$valid}">
                            <input type="text" name="wing" ng-model="formData.wing" ng-minlength="1" ng-maxlength="1" required>
                            <label for="wing">Wing</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div ng-class="{ 'has-errors' : myForm.flat.$invalid, 'no-errors' : myForm.flat.$valid}">
                            <input type="number" name="flat" ng-model="formData.flat" ng-minlength="3" ng-maxlength="4" required>
                            <label for="flat">Flat</label>
                        </div>
                    </div>
                    <div id="form-error">
                        <ul>
                            <li ng-repeat="(key, errors) in myForm.$error track by $index"> <strong>{{ key }}</strong> errors
                                <ul>
                                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- <div>
    {{formData}}
</div>
 -->
                    <div class="button-container">
                        <button><span>Save</span></button>
                    </div>
                </form>
            </div>
    </ion-content>
</ion-view>
