<ion-view view-title="About You">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="true">
        <div id="container" class="container">
            <!-- https://codepen.io/andytran/pen/RPBdgM 
            https://codepen.io/adam2326/pen/VYMOdx

            https://codepen.io/Iulius90/pen/QwaOwL
            -->
            <!-- <div class="card"></div> -->
            <script id="error-list.html" type="text/ng-template">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> This field is required!
                </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i> Minimum length of this field is 5 characters!
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i> Maximum length of this field is 20 characters!
                </div>
            </script>
            <div class="card ">
                <!-- <div class="toggle"></div> -->
                <h1 class="title">Register     <!-- <div class="close"></div> -->  </h1>
                <form name="myForm" ng-submit="saveForm(myForm)" novalidate>
                    <div class="avatar" ng-style="{'background-image': 'url(' + appConfig.user.photoURL + ')'}"></div>
                    <h3>Welcome <a class="light">{{appConfig.user.displayName}}</a></h3>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600" id="messagesDiv">
                        <h6>Upload smart card</h6>
                        <input type="file" id="file" name="file" />
                        <img style="max-height: 100px;" id="smartCardImg" src="{{formData.smartcard}}">
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Username</label>
                        <div ng-class="{ 'has-errors' : myForm.fullname.$invalid, 'no-errors' : myForm.fullname.$valid}">
                            <input type="text" name="fullname" placeholder="What can we call you?" ng-model="formData.fullname" ng-minlength="5" ng-maxlength="20" required>
                        </div>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Repeat Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Repeat Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Username</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Repeat Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required" />
                        <label for="#{label}">Repeat Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button><span>Next</span></button>
                    </div>
                </form>
            </div>
    </ion-content>
</ion-view>
