<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}" overflow-scroll="true">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Kaushal</h2>
                    <p>My bat My ball</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/daenerys-1.jpg">
                    <h2>Kiran</h2>
                    <p>Always in Camera</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya-1.jpg">
                    <h2>Sachin</h2>
                    <p>Volga</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/sansa-1.jpg">
                    <h2>Ajit</h2>
                    <p>&amp; Haaa <strike>batting</strike></p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tyrion-1.jpg">
                    <h2>Sachin</h2>
                    <p>The thristy Opener</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
