<ion-view view-title="Poll">
    <ion-content ng-class="{expanded:isExpanded}" overflow-scroll="true">
        <ion-header-bar class="bar-positive">
            <div class="buttons">
                <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
            </div>
            <h1 class="title">Reorder and vote</h1>
            <div class="buttons">
                <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                    Reorder
                </button>
            </div>
        </ion-header-bar>
        <div class="content has-header">
            <!-- <div class="list xanimate-fade-slide-in-right">
                <a ng-repeat="(key,user) in allUsers" href="#/app/profile" class="item item-avatar item-icon-right" ng-show="user.isTeamOwner" ng-click="selectUser(user, key)">
                    <img src="{{user.profile_picture.toString()}}">
                    <h2>{{user.full_name}}</h2>
                    <p>{{user.mobile}}</p>
                </a>
            </div> -->
            <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
                <ion-item ng-repeat="item in allUsers" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
                    <h2>{{item.full_name}}</h2>
                    <p>{{item.mobile}}</p>
                    <p>{{item.id}}</p>
                    
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
                    </ion-delete-button>
                    <ion-option-button class="button-assertive" ng-click="edit(item)">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-calm" ng-click="share(item)">
                        Share
                    </ion-option-button>
                    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
                </ion-item>
                <button ng-click="submitVote()" class="button button-positive button-block">Submit</button>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
