<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="true">
        <div class="hero slide-up" style="background-image: url('img/profile-1.jpg');">
            <div class="content">
                <div class="avatar" ng-style="{'background-image': 'url(' + appConfig.user.photoURL + ')'}"></div>
                <h3><a class="light">{{appConfig.user.displayName}}</a></h3>
                <h4>Always in Camera</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
            <a ui-sref="app.poll" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Vote
            </a>
            <a ui-sref="app.admin" class="tab-item" ng-if="appConfig.userInfo.userType == 'superadmin'">
                <i class="icon ion-key"></i> Admin
            </a>
        </div>
        <h4 class="content padding double-padding-x">Hello<button ui-sref="app.form" class="right">Edit</button></h4>
        <div class="list animate-fade-slide-in-right">
            <a xng-repeat="userInfo in appConfig.userInfo" ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="{{appConfig.userInfo.profile_picture.toString()}}">
                <h2>{{appConfig.userInfo.full_name}}</h2>
                <p>{{appConfig.userInfo.mobile}}</p>
                <p ng-hide="appConfig.userInfo.mobile">{{appConfig.message.formFill}}</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
           
        </div>
    </ion-content>
</ion-view>
