<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="true">
        <div class="hero slide-up" style="background-image: url('img/profile-1.jpg');">
            <div class="content">
                <div class="avatar" ng-style="{'background-image': 'url(' + appConfig.user.photoURL + ')'}"></div>
                <h3><a class="light">{{appConfig.user.displayName}}</a></h3>
                <h4>Always in Camera</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Kaushal</h2>
                <p>My bat My ball</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa-1.jpg">
                <h2>Ajit</h2>
                <p>&amp; Haaa <strike>batting</strike></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion-1.jpg">
                <h2>Sachin</h2>
                <p>The thristy Opener</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
