<ion-view class="profile" view-title="Player" cache-view="false">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="true">
        <div class="list xanimate-fade-slide-in-right">
            <div class="row">
                <div class="col">{{appConfig.currUser.fullname}} ({{appConfig.currUser.sportsname}})</div>
            </div>
            <div class="row">
                <div class="col">{{appConfig.currUser.cluster}} {{appConfig.currUser.wing}} {{appConfig.currUser.flat}}</div>
                <div class="col">{{appConfig.currUser.ownership}}</div>
            </div>
            <div class="row">
                <div class="col">{{appConfig.currUser.email}}</div>
                <div class="col">{{appConfig.currUser.mobile}}</div>
            </div>
            <div class="row">
                <div style="background-color: gainsboro;" class="col">{{appConfig.currUser.comments}}</div>
            </div>
            <div class="row">
                <div class="col"><img ng-click="showImage(appConfig.currUser.selfie)" style="width: 100%;" id="selfieImg" src="{{appConfig.currUser.selfie}}"></div>
                <div class="col"><img ng-click="showImage(appConfig.currUser.smartcard)" style="width: 100%;" id="smartCardImg" src="{{appConfig.currUser.smartcard}}"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
